// _breakpoints

// Screen Widths (using min-width for mobile-first)
$screen-sm: 576px;  // Small (Phone Landscape)
$screen-md: 768px;  // Medium (Tablet)
$screen-lg: 1024px; // Large (Desktop)
$screen-xl: 1280px; // Extra Large