@font-face {
	font-family: 'Roboto';
	src: url('../../src/assets/fonts/roboto/Roboto-Regular.ttf')
		format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: url('../../src/assets/fonts/roboto/Roboto-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

$font-primary: 'Roboto';
$font-secondary: 'Georgia', serif;

$font-size-base: 1rem;

$font-face: $font-primary;
$font-size: $font-size-base;
